:root {
    --primary-text-color: #999999;
    --secondary-text-color: #ffffff;
    --primary-title-color: #ffffff;
    --secondary-title-color: #323232;
    --accent-color: #4985ff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

.conteiner {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--secondary-text-color);
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    width: 200px;
    height: 45px;
    border-color: transparent;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    border-color: var(--accent-color);
    background-color: transparent;
}

.hero-btn {
    margin: 0 auto;
    display: block;
}

/*    header */

.header {
    background-color: rgb(119, 115, 115);
}

.menu-list {
    display: flex;
    justify-content: flex-end;
}

.menu-link {
    padding-bottom: 40px;
    padding-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--secondary-text-color);
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

/* hero */

.hero {
    background-color: gray;
    padding-top: 220px;
    padding-bottom: 335px;
}

.hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    text-align: center;
}

.hero-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.33;
    color: var(--secondary-text-color);
    text-align: center;
    max-width: 829px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}